@import 'nav.css';

.contentDIV, .row{
  background: url(../images/stars.jpeg)  no-repeat;
  background-size: 100% 100%; 
  height: 100%;
  background-color: black;
}

.instructionsDIV{
  background-color: transparent;
  height: 8%;
  text-align: center;
  padding-top: 15px;
}

.titleDIV{
  background-color: transparent;
  height: 8%;
  text-align: center;
}

.cardpictureDIV{
  background-color: transparent;
  height: 70%;
}

.interpretationDIV{
  background-color: transparent;
  height: 5%;
  text-align: center;
  margin-top: 15px;
}

.pickanothercardDIV{
  background-color: transparent;
  text-align: center;
}

img{
  width: auto;
  height: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 4%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

#backcoverDIV{
  cursor: pointer;
}

#pickanothercardtext{
  text-align: center;
  font-size: 80%;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  cursor: pointer;
}