@import 'nav.css';

.contentDIV, .row{
  background: url(../images/stars.jpeg)  no-repeat;
  background-size: 100% 100%; 
  height: 100%;
  background-color: black;
}

.instructionsDIV{
  background-color: transparent;
  height: 8%;
  text-align: center;
  padding-top: 15px;
  margin-top: -20px;
}

.titleDIV{
  background-color: transparent;
  height: 8%;
  text-align: center;
  margin-top: -20px;
}

.cardpictureDIV{
  background-color: transparent;
  height: 845%;
}

.interpretationDIV{
  background-color: transparent;
  height: 5%;
  text-align: center;
  margin-top: 8px;
}

.pickanothercardDIV{
  background-color: transparent;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 5px;
}

img{
  width: auto;
  height: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 4%;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

#backcoverDIV{
  cursor: pointer;
}

#pickanothercardtext{
  text-align: center;
  font-size: 80%;
  color: white;
  width: 120px;
  margin: auto;
  cursor: pointer;
  border: solid white 1px;
  border-radius: 3px;
  padding: 5px 0px;
}

#pickanothercardtext:hover{
  background-color: white;
  color: black;
  transition: .5s;
}

@media only screen and (max-width: 400px){
  /* .pickanothercardDIV{
    padding-bottom: 0px;
  }
  #pickanothercardtext{
    border: none;
    padding: 0px;
  }*/
  #pickanothercardtext:hover{
    background-color: transparent;
    color: white;
    transition: 0s;
  } 
  .cardpictureDIV{
  height: 20%;
  }
  h2{
  font-size: 20px;
  }
}

h2, h4 {
  font-family: 'Bookman Old Style';
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}

h2{
  font-size: 25px;
}

h4{
  font-size: 16px;
}