@import 'nav.css';

.contentDIV, .row{
  background: url(../images/stars.jpeg)  no-repeat;
  background-size: 100% 100%; 
  height: 100%;

}

.instructionsDIV{
  background-color: transparent;
  height: 11%;
  text-align: center;
}

.titleDIV{
  background-color: transparent;
  height: 11%;
  text-align: center;
}

.cardpictureDIV{
  background-color: transparent;
  height: 65%;
  text-align: center;
}

.interpretationDIV{
  background-color: transparent;
  text-align: center;
  color: white;
  margin-top: 15px;
}

.pickanothercardDIV{
  background-color: transparent;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


img{
  width: auto;
  height: 100%;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 4%;
  border-color: black;
  border-width: 1px;
}

#backcoverDIV{
  cursor: pointer;
}

#pickanothercardtext{
  text-align: center;
  font-size: 80%;
  color: white;
  width: 120px;
  margin: auto;
  cursor: pointer;
  border: solid white 1px;
  border-radius: 3px;
  padding: 5px 0px;
}

#pickanothercardtext:hover{
  background-color: white;
  color: black;
  transition: .5s;
}

h4{
  font-size: 14px;
  font-weight: 500;
}

@media only screen and (max-width: 500px){
  /* .pickanothercardDIV{
    padding-bottom: 0px;
  }
  #pickanothercardtext{
    border: none;
    padding: 0px;
  }*/
  #pickanothercardtext:hover{
    background-color: transparent;
    color: white;
    transition: 0s;
  } 

  .cardpictureDIV{
    height: 65%;
  }


  h2{
  font-size: 26px;
  }
  h4{
  font-size: 11px;
  }
}

h2, h4 {
  font-family: 'Verdana';  
}



