a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

body{
	border-top: solid black 3px;
	border-bottom: solid black 3px;
}

/*/img {
    position: absolute;
    right: 0;
    z-index: -2;
}/*/

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

p.para1 {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

p.para2 {
	margin-right: 190px;
	font-family: Arial, Helvetica, sans-serif;
}

p.para3 {
	margin-right: 190px;
}

p.links {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

div {
	margin-left: 30px;
	margin-right: 30px;
	border-top: solid gray 1px;
	border-bottom: solid gray 1px;
	background: url("images/portrait.png") no-repeat right;
}